<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.AdvertisementLogMapper">
    
    <resultMap type="AdvertisementLog" id="AdvertisementLogResult">
        <result property="advertisementLogId"    column="advertisement_log_id"    />
        <result property="advertisementId"    column="advertisement_id"    />
        <result property="action"    column="action"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAdvertisementLogVo">
        select advertisement_log_id, advertisement_id, action, operator_id, create_time, update_time from coco_advertisement_log
    </sql>

    <select id="selectAdvertisementLogList" parameterType="AdvertisementLog" resultMap="AdvertisementLogResult">
        <include refid="selectAdvertisementLogVo"/>
        <where>  
            <if test="advertisementId != null "> and advertisement_id = #{advertisementId}</if>
            <if test="action != null "> and action = #{action}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
        </where>
    </select>
    
    <select id="selectAdvertisementLogByAdvertisementLogId" parameterType="Long" resultMap="AdvertisementLogResult">
        <include refid="selectAdvertisementLogVo"/>
        where advertisement_log_id = #{advertisementLogId}
    </select>

    <insert id="insertAdvertisementLog" parameterType="AdvertisementLog" useGeneratedKeys="true" keyProperty="advertisementLogId">
        insert into coco_advertisement_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="advertisementId != null">advertisement_id,</if>
            <if test="action != null">action,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="advertisementId != null">#{advertisementId},</if>
            <if test="action != null">#{action},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAdvertisementLog" parameterType="AdvertisementLog">
        update coco_advertisement_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="advertisementId != null">advertisement_id = #{advertisementId},</if>
            <if test="action != null">action = #{action},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where advertisement_log_id = #{advertisementLogId}
    </update>

    <delete id="deleteAdvertisementLogByAdvertisementLogId" parameterType="Long">
        delete from coco_advertisement_log where advertisement_log_id = #{advertisementLogId}
    </delete>

    <delete id="deleteAdvertisementLogByAdvertisementLogIds" parameterType="String">
        delete from coco_advertisement_log where advertisement_log_id in 
        <foreach item="advertisementLogId" collection="array" open="(" separator="," close=")">
            #{advertisementLogId}
        </foreach>
    </delete>
</mapper>