<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.BookmarkTagMapper">
    
    <resultMap type="BookmarkTag" id="BookmarkTagResult">
        <result property="bookmarkTagId"    column="bookmark_tag_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBookmarkTagVo">
        select bookmark_tag_id, tag_name, user_id, create_time, update_time from coco_bookmark_tag
    </sql>

    <select id="selectBookmarkTagList" parameterType="BookmarkTag" resultMap="BookmarkTagResult">
        <include refid="selectBookmarkTagVo"/>
        <where>  
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectBookmarkTagByBookmarkTagId" parameterType="Long" resultMap="BookmarkTagResult">
        <include refid="selectBookmarkTagVo"/>
        where bookmark_tag_id = #{bookmarkTagId}
    </select>

    <insert id="insertBookmarkTag" parameterType="BookmarkTag" useGeneratedKeys="true" keyProperty="bookmarkTagId">
        insert into coco_bookmark_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBookmarkTag" parameterType="BookmarkTag">
        update coco_bookmark_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where bookmark_tag_id = #{bookmarkTagId}
    </update>

    <delete id="deleteBookmarkTagByBookmarkTagId" parameterType="Long">
        delete from coco_bookmark_tag where bookmark_tag_id = #{bookmarkTagId}
    </delete>

    <delete id="deleteBookmarkTagByBookmarkTagIds" parameterType="String">
        delete from coco_bookmark_tag where bookmark_tag_id in 
        <foreach item="bookmarkTagId" collection="array" open="(" separator="," close=")">
            #{bookmarkTagId}
        </foreach>
    </delete>
</mapper>