<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.BookmarkLogMapper">
    
    <resultMap type="BookmarkLog" id="BookmarkLogResult">
        <result property="bookmarkLogId"    column="bookmark_log_id"    />
        <result property="bookmarkId"    column="bookmark_id"    />
        <result property="action"    column="action"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBookmarkLogVo">
        select bookmark_log_id, bookmark_id, action, operator_id, create_time, update_time from coco_bookmark_log
    </sql>

    <select id="selectBookmarkLogList" parameterType="BookmarkLog" resultMap="BookmarkLogResult">
        <include refid="selectBookmarkLogVo"/>
        <where>  
            <if test="bookmarkId != null "> and bookmark_id = #{bookmarkId}</if>
            <if test="action != null "> and action = #{action}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
        </where>
    </select>
    
    <select id="selectBookmarkLogByBookmarkLogId" parameterType="Long" resultMap="BookmarkLogResult">
        <include refid="selectBookmarkLogVo"/>
        where bookmark_log_id = #{bookmarkLogId}
    </select>

    <insert id="insertBookmarkLog" parameterType="BookmarkLog" useGeneratedKeys="true" keyProperty="bookmarkLogId">
        insert into coco_bookmark_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookmarkId != null">bookmark_id,</if>
            <if test="action != null">action,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookmarkId != null">#{bookmarkId},</if>
            <if test="action != null">#{action},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBookmarkLog" parameterType="BookmarkLog">
        update coco_bookmark_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookmarkId != null">bookmark_id = #{bookmarkId},</if>
            <if test="action != null">action = #{action},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where bookmark_log_id = #{bookmarkLogId}
    </update>

    <delete id="deleteBookmarkLogByBookmarkLogId" parameterType="Long">
        delete from coco_bookmark_log where bookmark_log_id = #{bookmarkLogId}
    </delete>

    <delete id="deleteBookmarkLogByBookmarkLogIds" parameterType="String">
        delete from coco_bookmark_log where bookmark_log_id in 
        <foreach item="bookmarkLogId" collection="array" open="(" separator="," close=")">
            #{bookmarkLogId}
        </foreach>
    </delete>
</mapper>