<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.BookmarkCategoryMapper">
    
    <resultMap type="BookmarkCategory" id="BookmarkCategoryResult">
        <result property="bookmarkCategoryId"    column="bookmark_category_id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="color"    column="color"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBookmarkCategoryVo">
        select bookmark_category_id, user_id, name, parent_id, sort_order, color, create_time, update_time from coco_bookmark_category
    </sql>

    <select id="selectBookmarkCategoryList" parameterType="BookmarkCategory" resultMap="BookmarkCategoryResult">
        <include refid="selectBookmarkCategoryVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
        </where>
    </select>
    
    <select id="selectBookmarkCategoryByBookmarkCategoryId" parameterType="Long" resultMap="BookmarkCategoryResult">
        <include refid="selectBookmarkCategoryVo"/>
        where bookmark_category_id = #{bookmarkCategoryId}
    </select>

    <insert id="insertBookmarkCategory" parameterType="BookmarkCategory" useGeneratedKeys="true" keyProperty="bookmarkCategoryId">
        insert into coco_bookmark_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="color != null">color,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="color != null">#{color},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBookmarkCategory" parameterType="BookmarkCategory">
        update coco_bookmark_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="color != null">color = #{color},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where bookmark_category_id = #{bookmarkCategoryId}
    </update>

    <delete id="deleteBookmarkCategoryByBookmarkCategoryId" parameterType="Long">
        delete from coco_bookmark_category where bookmark_category_id = #{bookmarkCategoryId}
    </delete>

    <delete id="deleteBookmarkCategoryByBookmarkCategoryIds" parameterType="String">
        delete from coco_bookmark_category where bookmark_category_id in 
        <foreach item="bookmarkCategoryId" collection="array" open="(" separator="," close=")">
            #{bookmarkCategoryId}
        </foreach>
    </delete>
</mapper>