<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.FeedbackTypeMapper">
    
    <resultMap type="FeedbackType" id="FeedbackTypeResult">
        <result property="feedbackTypeId"    column="feedback_type_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFeedbackTypeVo">
        select feedback_type_id, type_name, sort_order, create_time, update_time from coco_feedback_type
    </sql>

    <select id="selectFeedbackTypeList" parameterType="FeedbackType" resultMap="FeedbackTypeResult">
        <include refid="selectFeedbackTypeVo"/>
        <where>  
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
        </where>
    </select>
    
    <select id="selectFeedbackTypeByFeedbackTypeId" parameterType="Long" resultMap="FeedbackTypeResult">
        <include refid="selectFeedbackTypeVo"/>
        where feedback_type_id = #{feedbackTypeId}
    </select>

    <insert id="insertFeedbackType" parameterType="FeedbackType" useGeneratedKeys="true" keyProperty="feedbackTypeId">
        insert into coco_feedback_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">#{typeName},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFeedbackType" parameterType="FeedbackType">
        update coco_feedback_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where feedback_type_id = #{feedbackTypeId}
    </update>

    <delete id="deleteFeedbackTypeByFeedbackTypeId" parameterType="Long">
        delete from coco_feedback_type where feedback_type_id = #{feedbackTypeId}
    </delete>

    <delete id="deleteFeedbackTypeByFeedbackTypeIds" parameterType="String">
        delete from coco_feedback_type where feedback_type_id in 
        <foreach item="feedbackTypeId" collection="array" open="(" separator="," close=")">
            #{feedbackTypeId}
        </foreach>
    </delete>
</mapper>