<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.FeedbackLogMapper">
    
    <resultMap type="FeedbackLog" id="FeedbackLogResult">
        <result property="feedbackLogId"    column="feedback_log_id"    />
        <result property="feedbackId"    column="feedback_id"    />
        <result property="action"    column="action"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="logTime"    column="log_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFeedbackLogVo">
        select feedback_log_id, feedback_id, action, operator_id, log_time, create_time, update_time from coco_feedback_log
    </sql>

    <select id="selectFeedbackLogList" parameterType="FeedbackLog" resultMap="FeedbackLogResult">
        <include refid="selectFeedbackLogVo"/>
        <where>  
            <if test="feedbackId != null "> and feedback_id = #{feedbackId}</if>
            <if test="action != null "> and action = #{action}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
            <if test="logTime != null "> and log_time = #{logTime}</if>
        </where>
    </select>
    
    <select id="selectFeedbackLogByFeedbackLogId" parameterType="Long" resultMap="FeedbackLogResult">
        <include refid="selectFeedbackLogVo"/>
        where feedback_log_id = #{feedbackLogId}
    </select>

    <insert id="insertFeedbackLog" parameterType="FeedbackLog" useGeneratedKeys="true" keyProperty="feedbackLogId">
        insert into coco_feedback_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">feedback_id,</if>
            <if test="action != null">action,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="logTime != null">log_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackId != null">#{feedbackId},</if>
            <if test="action != null">#{action},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="logTime != null">#{logTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFeedbackLog" parameterType="FeedbackLog">
        update coco_feedback_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedbackId != null">feedback_id = #{feedbackId},</if>
            <if test="action != null">action = #{action},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="logTime != null">log_time = #{logTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where feedback_log_id = #{feedbackLogId}
    </update>

    <delete id="deleteFeedbackLogByFeedbackLogId" parameterType="Long">
        delete from coco_feedback_log where feedback_log_id = #{feedbackLogId}
    </delete>

    <delete id="deleteFeedbackLogByFeedbackLogIds" parameterType="String">
        delete from coco_feedback_log where feedback_log_id in 
        <foreach item="feedbackLogId" collection="array" open="(" separator="," close=")">
            #{feedbackLogId}
        </foreach>
    </delete>
</mapper>