<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.FriendlinkMapper">
    
    <resultMap type="Friendlink" id="FriendlinkResult">
        <result property="friendlinkId"    column="friendlink_id"    />
        <result property="author"    column="author"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="logo"    column="logo"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFriendlinkVo">
        select friendlink_id, author, name, url, logo, description, status, sort_order, create_time, update_time from coco_friendlink
    </sql>

    <select id="selectFriendlinkList" parameterType="Friendlink" resultMap="FriendlinkResult">
        <include refid="selectFriendlinkVo"/>
        <where>  
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
        </where>
    </select>
    
    <select id="selectFriendlinkByFriendlinkId" parameterType="Long" resultMap="FriendlinkResult">
        <include refid="selectFriendlinkVo"/>
        where friendlink_id = #{friendlinkId}
    </select>

    <insert id="insertFriendlink" parameterType="Friendlink" useGeneratedKeys="true" keyProperty="friendlinkId">
        insert into coco_friendlink
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="author != null">author,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="logo != null">logo,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="author != null">#{author},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="logo != null">#{logo},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFriendlink" parameterType="Friendlink">
        update coco_friendlink
        <trim prefix="SET" suffixOverrides=",">
            <if test="author != null">author = #{author},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where friendlink_id = #{friendlinkId}
    </update>

    <delete id="deleteFriendlinkByFriendlinkId" parameterType="Long">
        delete from coco_friendlink where friendlink_id = #{friendlinkId}
    </delete>

    <delete id="deleteFriendlinkByFriendlinkIds" parameterType="String">
        delete from coco_friendlink where friendlink_id in 
        <foreach item="friendlinkId" collection="array" open="(" separator="," close=")">
            #{friendlinkId}
        </foreach>
    </delete>
</mapper>