<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.InviteCodeMapper">
    
    <resultMap type="InviteCode" id="InviteCodeResult">
        <result property="inviteCodeId"    column="invite_code_id"    />
        <result property="code"    column="code"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="userId"    column="user_id"    />
        <result property="status"    column="status"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTme"    column="update_tme"    />
    </resultMap>

    <sql id="selectInviteCodeVo">
        select invite_code_id, code, creator_id, user_id, status, expire_time, create_time, update_tme from coco_invite_code
    </sql>

    <select id="selectInviteCodeList" parameterType="InviteCode" resultMap="InviteCodeResult">
        <include refid="selectInviteCodeVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="expireTime != null "> and expire_time = #{expireTime}</if>
            <if test="updateTme != null "> and update_tme = #{updateTme}</if>
        </where>
    </select>
    
    <select id="selectInviteCodeByInviteCodeId" parameterType="Long" resultMap="InviteCodeResult">
        <include refid="selectInviteCodeVo"/>
        where invite_code_id = #{inviteCodeId}
    </select>

    <insert id="insertInviteCode" parameterType="InviteCode" useGeneratedKeys="true" keyProperty="inviteCodeId">
        insert into coco_invite_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTme != null">update_tme,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTme != null">#{updateTme},</if>
         </trim>
    </insert>

    <update id="updateInviteCode" parameterType="InviteCode">
        update coco_invite_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTme != null">update_tme = #{updateTme},</if>
        </trim>
        where invite_code_id = #{inviteCodeId}
    </update>

    <delete id="deleteInviteCodeByInviteCodeId" parameterType="Long">
        delete from coco_invite_code where invite_code_id = #{inviteCodeId}
    </delete>

    <delete id="deleteInviteCodeByInviteCodeIds" parameterType="String">
        delete from coco_invite_code where invite_code_id in 
        <foreach item="inviteCodeId" collection="array" open="(" separator="," close=")">
            #{inviteCodeId}
        </foreach>
    </delete>
</mapper>