<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.MessageLogMapper">
    
    <resultMap type="MessageLog" id="MessageLogResult">
        <result property="messageLogId"    column="message_log_id"    />
        <result property="messageId"    column="message_id"    />
        <result property="action"    column="action"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMessageLogVo">
        select message_log_id, message_id, action, operator_id, create_time, update_time from coco_message_log
    </sql>

    <select id="selectMessageLogList" parameterType="MessageLog" resultMap="MessageLogResult">
        <include refid="selectMessageLogVo"/>
        <where>  
            <if test="messageId != null "> and message_id = #{messageId}</if>
            <if test="action != null "> and action = #{action}</if>
            <if test="operatorId != null "> and operator_id = #{operatorId}</if>
        </where>
    </select>
    
    <select id="selectMessageLogByMessageLogId" parameterType="Long" resultMap="MessageLogResult">
        <include refid="selectMessageLogVo"/>
        where message_log_id = #{messageLogId}
    </select>

    <insert id="insertMessageLog" parameterType="MessageLog" useGeneratedKeys="true" keyProperty="messageLogId">
        insert into coco_message_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">message_id,</if>
            <if test="action != null">action,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">#{messageId},</if>
            <if test="action != null">#{action},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMessageLog" parameterType="MessageLog">
        update coco_message_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="action != null">action = #{action},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where message_log_id = #{messageLogId}
    </update>

    <delete id="deleteMessageLogByMessageLogId" parameterType="Long">
        delete from coco_message_log where message_log_id = #{messageLogId}
    </delete>

    <delete id="deleteMessageLogByMessageLogIds" parameterType="String">
        delete from coco_message_log where message_log_id in 
        <foreach item="messageLogId" collection="array" open="(" separator="," close=")">
            #{messageLogId}
        </foreach>
    </delete>
</mapper>