<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.NoticeUserMapper">
    
    <resultMap type="NoticeUser" id="NoticeUserResult">
        <result property="relationId"    column="relation_id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="userId"    column="user_id"    />
        <result property="readStatus"    column="read_status"    />
        <result property="readTime"    column="read_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectNoticeUserVo">
        select relation_id, notice_id, user_id, read_status, read_time, create_time, update_time from coco_notice_user
    </sql>

    <select id="selectNoticeUserList" parameterType="NoticeUser" resultMap="NoticeUserResult">
        <include refid="selectNoticeUserVo"/>
        <where>  
            <if test="noticeId != null "> and notice_id = #{noticeId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="readStatus != null "> and read_status = #{readStatus}</if>
            <if test="readTime != null "> and read_time = #{readTime}</if>
        </where>
    </select>
    
    <select id="selectNoticeUserByRelationId" parameterType="Long" resultMap="NoticeUserResult">
        <include refid="selectNoticeUserVo"/>
        where relation_id = #{relationId}
    </select>

    <insert id="insertNoticeUser" parameterType="NoticeUser" useGeneratedKeys="true" keyProperty="relationId">
        insert into coco_notice_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">notice_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="readStatus != null">read_status,</if>
            <if test="readTime != null">read_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">#{noticeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="readStatus != null">#{readStatus},</if>
            <if test="readTime != null">#{readTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNoticeUser" parameterType="NoticeUser">
        update coco_notice_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="readStatus != null">read_status = #{readStatus},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where relation_id = #{relationId}
    </update>

    <delete id="deleteNoticeUserByRelationId" parameterType="Long">
        delete from coco_notice_user where relation_id = #{relationId}
    </delete>

    <delete id="deleteNoticeUserByRelationIds" parameterType="String">
        delete from coco_notice_user where relation_id in 
        <foreach item="relationId" collection="array" open="(" separator="," close=")">
            #{relationId}
        </foreach>
    </delete>
</mapper>