<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.admin.mapper.SettingMapper">
    
    <resultMap type="Setting" id="SettingResult">
        <result property="settingId"    column="setting_id"    />
        <result property="key"    column="key"    />
        <result property="value"    column="value"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSettingVo">
        select setting_id, key, value, description, create_time, update_time from coco_setting
    </sql>

    <select id="selectSettingList" parameterType="Setting" resultMap="SettingResult">
        <include refid="selectSettingVo"/>
        <where>  
            <if test="key != null  and key != ''"> and key = #{key}</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectSettingBySettingId" parameterType="Long" resultMap="SettingResult">
        <include refid="selectSettingVo"/>
        where setting_id = #{settingId}
    </select>

    <insert id="insertSetting" parameterType="Setting">
        insert into coco_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="settingId != null">setting_id,</if>
            <if test="key != null and key != ''">key,</if>
            <if test="value != null and value != ''">value,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="settingId != null">#{settingId},</if>
            <if test="key != null and key != ''">#{key},</if>
            <if test="value != null and value != ''">#{value},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSetting" parameterType="Setting">
        update coco_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="key != null and key != ''">key = #{key},</if>
            <if test="value != null and value != ''">value = #{value},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where setting_id = #{settingId}
    </update>

    <delete id="deleteSettingBySettingId" parameterType="Long">
        delete from coco_setting where setting_id = #{settingId}
    </delete>

    <delete id="deleteSettingBySettingIds" parameterType="String">
        delete from coco_setting where setting_id in 
        <foreach item="settingId" collection="array" open="(" separator="," close=")">
            #{settingId}
        </foreach>
    </delete>
</mapper>